[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
flask = "*"
haveibeenpwnd = "*"
editdistance = "*"
ipython = "*"
flask-redis = "*"
grpcio = "*"
grpcio-tools = "*"
pyyaml = "*"
zxcvbn-python = "*"
sklearn = "*"

[requires]
python_version = "3.8"
